body{
    background-image: url("896828.jpg");
    background-color: black;
}

#box {
    width: 10vw;
    height: 10vw;
    background: linear-gradient(
45deg
, blue, red);
    position: absolute;
    top: 145px;
    left: 145px;
    /* text-align: center; */
    box-sizing: border-box;
    /* padding-top: 6vw; */
    color: white;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


@media only screen and (max-width: 756px) {
	#box{
	width: 130px;
	height: 130px;
	}
}
